@model Hoond.Models.Almacen
@using Hoond.app_GlobalResources;
@{
    ViewBag.Title = "Delete";
}
<div class="icon-delete"><h2>@Content.titulo_Eliminar Almacen</h2></div>
<h3>@Content.VistaEliminar</h3>
<div class="grid">
    <div class="grid_row">
        @if(!ViewBag.isAdmin){
            @Html.HiddenFor(model => model.idAlmacen)
        }else{
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.idAlmacen)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.idAlmacen)
            </div>
        </div>
        }
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.TipoAlmacen.descTipoAlmacen)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.TipoAlmacen.descTipoAlmacen)
            </div>
        </div>  
        @if(!ViewBag.isAdmin){
            @Html.HiddenFor(model => model.Empresa.nombreEmpresa)
        }else{
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Empresa.nombreEmpresa)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Empresa.nombreEmpresa)
            </div>
        </div>
        }
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Sucursal.nombreSucursal)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Sucursal.nombreSucursal)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.nombreAlmacen)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.nombreAlmacen)
            </div>
        </div>  
        @if(!ViewBag.isAdmin){
            @Html.HiddenFor(model => model.Usuario.nombreUsuario)
        }else{
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Usuario.nombreUsuario)
            </div>
        </div>
        }
        @if(!ViewBag.isAdmin){
            @Html.HiddenFor(model => model.fecha_alta)
        }else{
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.fecha_alta)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.fecha_alta)
            </div>
        </div>
        }
        @if(!ViewBag.isAdmin){
            @Html.HiddenFor(model => model.activo)
        }else{
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.activo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.activo)
            </div>
        </div>
        }
    </div>
    <div class="grid_row">
        @using (Html.BeginForm()) 
        {
            @Html.AntiForgeryToken()
            <div class="grid_item center">
                <div class="center"><input type="submit" value="@Content.submit_Eliminar" /></div>
            </div>
            <div class="grid_item center">
                <span class="link-txt back">@Html.ActionLink(Content.linkRegresar, "Index")</span>
            </div>
        }
    </div>
</div>
