@model Hoond.Models.Sucursal
@using Hoond.app_GlobalResources;
@{
    ViewBag.Title = "Create";
}
<div class="icon-create"><h2>@Content.titulo_Crear Sucursal</h2></div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="grid">
        <div class="grid_row">
        @Html.Action("InsertTipoSucursal","Comun")
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.idTipoSucursal, "TipoSucursal")
            </div>
            <div class="editor-field">
                @*En caso de desencadenamineto cabiar esta linea indicando las entidadea a desencadenar separadas por coma *@
                @*@Html.DropDownList("idTipoSucursal", null, String.Empty, new { @onchange = "LlenaSC(this.value, 'Entidad1,Entidad2')" })*@
                @Html.DropDownList("idTipoSucursal", String.Empty)
                @Html.ValidationMessageFor(model => model.idTipoSucursal)
                @*Indicar el campo que va a retonar al hacer la captura del formulario modal *@
                <a id='name' href="#" onclick="OpenDialog('TipoSucursal', 'Campo(s) a retornar')" class="addnew">@Content.link_nuevo</a>
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.nombreSucursal)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.nombreSucursal)
                @Html.ValidationMessageFor(model => model.nombreSucursal)
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.telefonoSucursal)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.telefonoSucursal)
                @Html.ValidationMessageFor(model => model.telefonoSucursal)
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.dirSucursalPais)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dirSucursalPais)
                @Html.ValidationMessageFor(model => model.dirSucursalPais)
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.dirSucursalEstado)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dirSucursalEstado)
                @Html.ValidationMessageFor(model => model.dirSucursalEstado)
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.dirSucursalMunicipio)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dirSucursalMunicipio)
                @Html.ValidationMessageFor(model => model.dirSucursalMunicipio)
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.dirSucursalCP)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dirSucursalCP)
                @Html.ValidationMessageFor(model => model.dirSucursalCP)
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.dirSucursalColonia)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dirSucursalColonia)
                @Html.ValidationMessageFor(model => model.dirSucursalColonia)
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.dirSucursalCalle)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dirSucursalCalle)
                @Html.ValidationMessageFor(model => model.dirSucursalCalle)
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.dirSucursalNoExterior)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dirSucursalNoExterior)
                @Html.ValidationMessageFor(model => model.dirSucursalNoExterior)
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.dirSucursalNoInterior)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dirSucursalNoInterior)
                @Html.ValidationMessageFor(model => model.dirSucursalNoInterior)
            </div>
        </div>
        </div>
        <div class="grid_row">
            <div class="grid_item center">
                <input type="submit" value="@Content.submit_Crear" />
            </div>
            <div class="grid_item center">
                <span class="link-txt back">@Html.ActionLink(Content.linkRegresar, "Index")</span>
            </div>
        </div>
    </diV>
}


