@model Hoond.Models.Sucursal
@using Hoond.app_GlobalResources;
@{
    ViewBag.Title = "Details";
}
<div class="icon-details"><h2>@Content.titulo_Detalle Sucursal</h2></div>
<div class="grid">
    <div class="grid_row">
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.idSucursal)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.idSucursal)
            </div>
        </div>
        }
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Empresa.nombreEmpresa)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Empresa.nombreEmpresa)
            </div>
        </div>
        }
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.TipoSucursal.descTipoSucursal)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.TipoSucursal.descTipoSucursal)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.nombreSucursal)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.nombreSucursal)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.telefonoSucursal)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.telefonoSucursal)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dirSucursalPais)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dirSucursalPais)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dirSucursalEstado)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dirSucursalEstado)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dirSucursalMunicipio)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dirSucursalMunicipio)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dirSucursalCP)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dirSucursalCP)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dirSucursalColonia)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dirSucursalColonia)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dirSucursalCalle)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dirSucursalCalle)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dirSucursalNoExterior)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dirSucursalNoExterior)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dirSucursalNoInterior)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dirSucursalNoInterior)
            </div>
        </div>  
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Usuario.nombreUsuario)
            </div>
        </div>
        }
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.fecha_alta)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.fecha_alta)
            </div>
        </div>
        }
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.activo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.activo)
            </div>
        </div>
        }
    </div>
    <div class="grid_row">
        <div class="grid_item center">
            <span class="link-txt editr">@Html.ActionLink(Content.linkEditar, "Edit", new { id=Model.idSucursal })</span>
        </div>
        <div class="grid_item center">
            <span class="link-txt back">@Html.ActionLink(Content.linkRegresar, "Index")</span>
        </div>
    </div>
</div>
