@model Hoond.Models.Icono
@using Hoond.app_GlobalResources;
@{
    ViewBag.Title = "Details";
}
<div class="icon-details"><h2>@Content.titulo_DetIcono</h2></div>
<div class="grid">
    <div class="grid_row">
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.idIcono)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.idIcono)
            </div>
        </div>
        }
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.descIcono)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.descIcono)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.claseIcono)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.claseIcono)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.rutaIcono)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.rutaIcono)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.x)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.x)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.y)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.y)
            </div>
        </div>  
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Usuario.nombreUsuario)
            </div>
        </div>
        }
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.fecha_alta)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.fecha_alta)
            </div>
        </div>
        }
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.activo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.activo)
            </div>
        </div>
        }
    </div>
    <div class="grid_row">
        <div class="grid_item center">
            <span class="link-txt editr">@Html.ActionLink(Content.link_Editar, "Edit", new { id=Model.idIcono })</span>
        </div>
        <div class="grid_item center">
            <span class="link-txt back">@Html.ActionLink(Content.link_Regresar, "Index")</span>
        </div>
    </div>
</div>
