@model PagedList.IPagedList<Hoond.Models.Icono>
@using Hoond.app_GlobalResources;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<h2>@Content.titulo_ListIcono</h2>
@if (!String.IsNullOrEmpty(ViewBag.msgError))
{
    @Html.Action("Mensaje", "Comun", new { msgError = ViewBag.msgError })
}
<p class="link-txt create">
    @Html.ActionLink(Content.link_Crear, "Create")
</p>
@using (Html.BeginForm("Index", "Icono", FormMethod.Get))
{
    @Html.Action("Buscar", "Comun", new { Campos = "descIcono,claseIcono,rutaIcono,x,y", Descripcion = "Icono,Clase,Ruta,X,Y" })
}
@using (Html.BeginForm("DeleteM", "Icono", FormMethod.Post))
{
    <input type="submit" value="@Content.submit_EliminarM" id="cmdEliminar" class="delete-table" />	
	<table>
		<thead>
		<tr>
			<th>
                <input type="checkbox" id="idH"  />
            </th>
	        @if(ViewBag.isAdmin)
            {
            <th data-hide="phone">
                <div id="@if(ViewBag.sortField == "idIcono") { @ViewBag.Id }">
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.First().idIcono).ToString(), "Index", new { sortField = "idIcono", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
                </div>
            </th>
            }
            <th data-toggle="true">
                <div id="@if(ViewBag.sortField == "descIcono") { @ViewBag.Id }">
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.First().descIcono).ToString(), "Index", new { sortField = "descIcono", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
                </div>
            </th>
		
	        <th data-hide="phone">
                <div id="@if(ViewBag.sortField == "claseIcono") { @ViewBag.Id }">
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.First().claseIcono).ToString(), "Index", new { sortField = "claseIcono", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
                </div>
            </th>
		
	        <th data-hide="phone">
                <div id="@if(ViewBag.sortField == "rutaIcono") { @ViewBag.Id }">
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.First().rutaIcono).ToString(), "Index", new { sortField = "rutaIcono", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
                </div>
            </th>
		
	        <th data-hide="phone">
                <div id="@if(ViewBag.sortField == "x") { @ViewBag.Id }">
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.First().x).ToString(), "Index", new { sortField = "x", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
                </div>
            </th>
		
	        <th data-hide="phone">
                <div id="@if(ViewBag.sortField == "y") { @ViewBag.Id }">
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.First().y).ToString(), "Index", new { sortField = "y", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
                </div>
            </th>
		
	        @if(ViewBag.isAdmin)
            {
            <th data-hide="phone">
                <div id="@if(ViewBag.sortField == "Usuario.nombreUsuario") { @ViewBag.Id }">
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.First().Usuario.nombreUsuario).ToString(), "Index", new { sortField = "Usuario.nombreUsuario", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
                </div>
            </th>
            }
            @if(ViewBag.isAdmin)
            {
            <th data-hide="phone">
                <div id="@if(ViewBag.sortField == "fecha_alta") { @ViewBag.Id }">
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.First().fecha_alta).ToString(), "Index", new { sortField = "fecha_alta", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
                </div>
            </th>
            }
            @if(ViewBag.isAdmin)
            {
            <th data-hide="phone">
                <div id="@if(ViewBag.sortField == "activo") { @ViewBag.Id }">
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.First().activo).ToString(), "Index", new { sortField = "activo", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
                </div>
            </th>
            }
    		<th data-hide="phone"></th>
		</tr>
		</thead>
		<tbody>
	
	@foreach (var item in Model) {
		<tr>
			<td>
                <input type="checkbox" name="ids" value="@item.idIcono" />
            </td>
	        @if(ViewBag.isAdmin)
            {
		    <td>
				@Html.DisplayFor(modelItem => item.idIcono)
			</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.descIcono)
            </td>  
	        <td>
                @Html.DisplayFor(modelItem => item.claseIcono)
            </td>  
	        <td>
                @Html.DisplayFor(modelItem => item.rutaIcono)
            </td>  
	        <td>
                @Html.DisplayFor(modelItem => item.x)
            </td>  
	        <td>
                @Html.DisplayFor(modelItem => item.y)
            </td>  
	        @if(ViewBag.isAdmin)
            {
		    <td>
				@Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
			</td>
            }
            @if(ViewBag.isAdmin)
            {
		    <td>
				@Html.DisplayFor(modelItem => item.fecha_alta)
			</td>
            }
            @if(ViewBag.isAdmin)
            {
		    <td>
				@Html.DisplayFor(modelItem => item.activo)
			</td>
            }
    		<td>
				<div class="buttons">
					<a href="@Url.Action("Edit", new { id=item.idIcono })"><div class="edit"></div></a>
					<a href="@Url.Action("Details", new { id=item.idIcono })"><div class="details"></div></a>
					<a href="@Url.Action("Delete", new { id=item.idIcono })"><div class="delete"></div></a>
				</div>
			</td>
		</tr>
	}
		</tbody>
	</table>
}
<div class="paging">
    <span>@Content.msg_Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Content.msg_Pageof @Model.PageCount</span>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField }))
</div>
