@model Hoond.Models.Ruta
@using PagedList.Mvc;
@using Hoond.app_GlobalResources;

@{
    ViewBag.Title = "Create";
}



<div class="icon-create"><h2>@Content.titulo_CrearRuta</h2></div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
      

        <div class="editor-label">
            @Html.LabelFor(model => model.descRuta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descRuta)
            @Html.ValidationMessageFor(model => model.descRuta)
        </div>

        <div class="editor-label">    
            @if (!string.IsNullOrEmpty(ViewBag.Error))
{
<div class="error">@ViewBag.Error</div>
}
            @Html.LabelFor(model => model.direccion)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.direccion)
            @Html.ValidationMessageFor(model => model.direccion)
        </div>

        <p>
            <div class="grid_item center">
                <input type="submit" value="@Content.submit_Crear" />
            </div>
        </p>
}

<br />

   <div class="grid_item center">
    <span class="link-txt back">@Html.ActionLink(Content.linkRegresar, "Index")</span>
</div>
