@model Hoond.Models.Ruta
@using Hoond.app_GlobalResources;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Edit";
}

<div class="icon-edit"><h2>@Content.titulo_EditarRuta</h2></div>

<div class="grid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idRuta)
        @Html.HiddenFor(model => model.idUsuario_alta)
        @Html.HiddenFor(model => model.fecha_alta)
        @Html.HiddenFor(model => model.activo)
        <div class="grid_row lg">
            <div class="grid_item">
                <div class="editor-label">
                    @Html.LabelFor(model => model.descRuta)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.descRuta)
                    @Html.ValidationMessageFor(model => model.descRuta)
                </div>
            </div>

            <div class="grid_item">
                <div class="editor-label">
                    @Html.LabelFor(model => model.direccion)
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="error">@ViewBag.Error</div>
                }
                <div class="editor-field">
                    @Html.EditorFor(model => model.direccion)
                    @Html.ValidationMessageFor(model => model.direccion)
                </div>
            </div>

        </div>

        <div class="grid_row lg">
            <div class="grid_item center">
                <input type="submit" value="@Content.submit_Guardar" />
            </div>
        </div>
    }
</div>
<div class="grid_item center">
    <p class="link-txt back">@Html.ActionLink(Content.linkRegresar, "Index")</p>
</div>


