@model PagedList.IPagedList<Hoond.Models.UsuarioRol>
@using Hoond.app_GlobalResources;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<h2>@Content.titulo_ListUsuarioRol</h2>
@if (!String.IsNullOrEmpty(ViewBag.msgError))
{
    @Html.Action("Mensaje", "Comun", new { msgError = ViewBag.msgError })
}
<p class="link-txt create">
    @Html.ActionLink(Content.link_Crear, "Create")
</p>
@using (Html.BeginForm("Index", "UsuarioRol", FormMethod.Get))
{
    @Html.Action("Buscar", "Comun", new { Campos = "Usuario1.nombreUsuario,Rol.descRol,Empresa.nombreEmpresa", Descripcion = "Usuario,Rol,Empresa" })
}	
<table>
	<thead>
	<tr>
        <th data-toggle="true">
            <div id="@if(ViewBag.sortField == "Usuario1.nombreUsuario") { @ViewBag.Id }">
                @Html.ActionLink(@Html.DisplayNameFor(model => model.First().Usuario1.nombreUsuario).ToString(), "Index", new { sortField = "Usuario1.nombreUsuario", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
            </div>
        </th>
        <th data-toggle="true">
            <div id="@if(ViewBag.sortField == "Rol.descRol") { @ViewBag.Id }">
                @Html.ActionLink(@Html.DisplayNameFor(model => model.First().Rol.descRol).ToString(), "Index", new { sortField = "Rol.descRol", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
            </div>
        </th>
        <th data-hide="phone">
            <div id="@if(ViewBag.sortField == "Empresa.nombreEmpresa") { @ViewBag.Id }">
                @Html.ActionLink(@Html.DisplayNameFor(model => model.First().Empresa.nombreEmpresa).ToString(), "Index", new { sortField = "Empresa.nombreEmpresa", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
            </div>
        </th>
        @if(ViewBag.isAdmin)
        {
        <th data-hide="phone">
            <div id="@if(ViewBag.sortField == "Usuario.nombreUsuario") { @ViewBag.Id }">
                @Html.ActionLink(@Html.DisplayNameFor(model => model.First().Usuario.nombreUsuario).ToString(), "Index", new { sortField = "Usuario.nombreUsuario", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
            </div>
        </th>
        }
        @if(ViewBag.isAdmin)
        {
        <th data-hide="phone">
            <div id="@if(ViewBag.sortField == "fecha_alta") { @ViewBag.Id }">
                @Html.ActionLink(@Html.DisplayNameFor(model => model.First().fecha_alta).ToString(), "Index", new { sortField = "fecha_alta", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
            </div>
        </th>
        }
        @if(ViewBag.isAdmin)
        {
        <th data-hide="phone">
            <div id="@if(ViewBag.sortField == "activo") { @ViewBag.Id }">
                @Html.ActionLink(@Html.DisplayNameFor(model => model.First().activo).ToString(), "Index", new { sortField = "activo", txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField })
            </div>
        </th>
        }
    	<th data-hide="phone"></th>
	</tr>
	</thead>
	<tbody>
	
@foreach (var item in Model) {
	<tr>
	    <td>
            @Html.DisplayFor(modelItem => item.Usuario1.nombreUsuario)
        </td>  
	    <td>
            @Html.DisplayFor(modelItem => item.Rol.descRol)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.Empresa.nombreEmpresa)
		</td>
        @if(ViewBag.isAdmin)
        {
		<td>
			@Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
		</td>
        }
        @if(ViewBag.isAdmin)
        {
		<td>
			@Html.DisplayFor(modelItem => item.fecha_alta)
		</td>
        }
        @if(ViewBag.isAdmin)
        {
		<td>
			@Html.DisplayFor(modelItem => item.activo)
		</td>
        }
    	<td>
			<div class="buttons">
				<a href="@Url.Action("Edit", new { id=item.idUsuario, id2=item.idRol })"><div class="edit"></div></a>
				<a href="@Url.Action("Details", new { id = item.idUsuario, id2 = item.idRol })"><div class="details"></div></a>
				<a href="@Url.Action("Delete", new { id = item.idUsuario, id2 = item.idRol })"><div class="delete"></div></a>
			</div>
		</td>
	</tr>
}
	</tbody>
</table>
<div class="paging">
    <span>@Content.msg_Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Content.msg_Pageof @Model.PageCount</span>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, txtBusqueda = ViewBag.CurrentFilter, cmbPaginado = ViewBag.CurrentPage, cmbCampo = ViewBag.CurrentField }))
</div>
