@model Hoond.Models.Usuario
@using Hoond.app_GlobalResources;
@{
    ViewBag.Title = "Create";
}
<div class="icon-create"><h2>@Content.titulo_CreaUsuario</h2></div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="grid">
        <div class="grid_row">
        @Html.Action("InsertTipoLogin","Comun")
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.idTipoLogin, "TipoLogin1")
            </div>
            <div class="editor-field">
                @Html.DropDownList("idTipoLogin", String.Empty)
                @Html.ValidationMessageFor(model => model.idTipoLogin)
                <a id='name' href="#" onclick="OpenDialog('TipoLogin', 'descTipoLogin')" class="addnew">@Content.link_nuevo</a>
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.nombreUsuario)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.nombreUsuario)
                @Html.ValidationMessageFor(model => model.nombreUsuario)
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.username)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.username)
                @Html.ValidationMessageFor(model => model.username)
            </div>
        </div>
        <div class="grid_item">
            <div class="editor-label">
                @Html.LabelFor(model => model.email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>
        </div>
        <div class="grid_row">
            <div class="grid_item center">
                <input type="submit" value="@Content.submit_Crear" />
            </div>
            <div class="grid_item center">
                <span class="link-txt back">@Html.ActionLink(Content.link_Regresar, "Index")</span>
            </div>
        </div>
    </diV>
}


