@model Hoond.Models.Usuario
@using Hoond.app_GlobalResources;
@{
    ViewBag.Title = "Details";
}
<div class="icon-details"><h2>@Content.titulo_DetUsuario</h2></div>
<div class="grid">
    <div class="grid_row">
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.idUsuario)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.idUsuario)
            </div>
        </div>
        }
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.TipoLogin1.descTipoLogin)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.TipoLogin1.descTipoLogin)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.nombreUsuario)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.nombreUsuario)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.username)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.username)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.password)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.password)
            </div>
        </div>  
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.email)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.email)
            </div>
        </div>  
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Usuario2.nombreUsuario)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Usuario2.nombreUsuario)
            </div>
        </div>
        }
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.fecha_alta)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.fecha_alta)
            </div>
        </div>
        }
        @if(ViewBag.isAdmin){
        <div class="grid_item">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.activo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.activo)
            </div>
        </div>
        }
    </div>
    <div class="grid_row">
        <div class="grid_item center">
            <span class="link-txt editr">@Html.ActionLink(Content.link_Editar, "Edit", new { id=Model.idUsuario })</span>
        </div>
        <div class="grid_item center">
            <span class="link-txt back">@Html.ActionLink(Content.link_Regresar, "Index")</span>
        </div>
    </div>
</div>
